.background {
  background: rgb(2,0,36);
  background: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 6%, rgba(0,212,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  padding: 10px;
}
body div div {
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-color: rgba($color: white, $alpha: 0.2);
  height: 500px;

}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 50%;

  .card {
    display: inline-block;
  }
}
.sideshow {
  margin-left: 15px;

}
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}
.poster {
  margin-top: 30px;
  margin-left: 70px;
}
.search {
  height: 38px;
  width: 350px;
  margin-top: -16px;
}

.search-btn {
  margin-top: -16px;
}
.button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

/*
.card{
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 0%;
  margin: 10px;
  padding: 50px;
 }


.image img{
width: 100%;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
.image {
  color: white;
  padding: 10px;
  align-items: center;
}
.card-body{
  text-align: center;


}
@media screen and (max-width:500px) {
  .card{
    width: 40%;
  }
}
@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }
  .card {
    width: 80%;
  }
}
.height-prob{
  height: 500px;
}
*/

.title{

text-align: center;
padding: 10px;

}

.play_trailer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper{
  width: 533px;
  height: 300px;
}
.play_background {
  width: 67px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(0,0,0,0.7)
}
.glyphicons_v2{
  width: 50%;
    height: 50%;
    left: 1px;
    transition: opacity 200ms linear;
}
.glyphicons_v2.play{
  background-image: url(/app-ui/src/assets/images/glyph-36-512.webp);
}
.svg.invert {
  filter: invert(1);
}
.glyphicons_v2 {
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1em;
  min-height: 1em;
  width: 1em;
  height: 1em;
  line-height: inherit;
  background-position: center center;
  background-repeat: no-repeat;
  color: inherit;
  box-sizing: border-box;
}







div.white_column {
  background-color: #fff;
  max-width: 960px;
  width: calc(100vw - 80px - 260px);
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  padding-right: 30px;
}
section.panel:first-of-type {
  border-top: none;
  padding-top: 0;
  margin-bottom: -200px;
}
section.panel {
  width: 100%;
  display: block;
  padding: 30px 0;
  border-top: 1px solid #d7d7d7;
}

section.panel h3 {
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 20px;
}
div.scroller_wrap {
  position: relative;
  top: 0;
  left: 0;
}

div.scroller_wrap.should_fade:after{
  content: '';
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
  will-change: opacity;
  pointer-events: none;
}
div.scroller_wrap.should_fade.is_fading:after {
  transition: linear 0.3s;
  opacity: 1;
}
ol.people.scroller {
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-left: -10px;
  margin-top: -10px;
  height: 300px;
}
ol.people {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}
ol.people li.card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 4px;
  border: 1px solid rgba(var(--lightGrey), 1);
  padding-bottom: 10px;
  border-radius: var(--imageBorderRadius);
  overflow: hidden;
}
ol.people li {
  min-width: 140px;
  width: 140px;
  background-color: #fff;
  margin-right: 10px;
}
.card {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border: 1px solid rgba(var(--lightGrey), 1);
  background-color: #fff;
}
ol.people li img {
  width: 100%;
  height: 100%;
}
section.panel ol.people li p {
  padding: 0 10px;
}
ol.people li p.character {
  font-size: 0.9em;
}
ol.people li p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}




div.media.movie_v4, div.media.tv_v4, div.media.person_v4, div.media.collection_v4 {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  width: 100%;
}
div.media {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
div.column_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
div.column_wrapper div.content_wrapper {
  max-width: var(--maxPrimaryPageWidth);
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}
section.panel {
  width: 100%;
  display: block;
  padding: 30px 0;
  border-top: 1px solid #d7d7d7;
}
section.media_panel div.menu {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: baseline;
  height: 100px;
}
section.media_panel div.menu h3 {
  display: inline-block;
  margin-right: 50px;
}
section.panel h3 {
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 20px;
}
section.media_panel div.menu ul {
  width: 100%;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
section.media_panel div.menu ul li.active {
  border-bottom-color: #000000;
}
section.media_panel div.menu ul li.active {
  border-bottom: 4px solid rgba(var(--tmdbLightBlue), 1);
}
section.media_panel div.menu ul li {
  display: inline-block;
  margin-right: 24px;
  padding-bottom: 5px;
  font-size: 1.1em;
  box-sizing: border-box;
}
section.inner_content a, section.media_panel div.menu ul li.active a {
  color: #000;
}
section.media_panel div.menu ul li a {
  color: #000;
  font-weight: 600;
}
a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
}
div.scroller_wrap {
  position: relative;
  top: 0;
  left: 0;
}
div.scroller_wrap.should_fade.is_fading:after {
  transition: linear 0.3s;
  opacity: 1;
}
div.scroller_wrap.should_fade:after {
  content: '';
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
  will-change: opacity;
  pointer-events: none;
}
section.media_panel div.content {
  display: flex;
  width: 100%;
  border-radius: var(--imageBorderRadius);
}
section.media_panel div.h_scroller {
  display: flex;
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
  -webkit-overflow-scrolling: touch;
}
div.scroller {
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
div.video.card.no_border, div.video.card.no_border+div.card {
  border: none;
  margin-top: 0;
}
div.video.card {
  border: 1px solid rgba(var(--lightGrey), 1);
  border-radius: var(--imageBorderRadius);
  display: flex;
  align-items: flex-start;
  height: auto;
}
div.video {
  width: 100%;
}
.card {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border: 1px solid rgba(var(--lightGrey), 1);
  background-color: #fff;
}
section.media_panel div.content div.video div.wrapper {
  width: 533px;
  height: 300px;
}
div.video.card.no_border div.wrapper {
  min-width: 0;
  width: 100%;
  height: 100%;
}
div.video.card div.wrapper {
  overflow: hidden;
  min-width: 350px;
  width: 350px;
  height: 197px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.video.card div.wrapper a.play_trailer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.inner_content a, section.media_panel div.menu ul li.active a {
  color: #000;
}

section.media_panel div.content div.backdrop img {
  width: 533px;
  min-width: 533px;
  height: 300px;
  min-height: 300px;
}
section.media_panel div.content div.poster, section.media_panel div.content div.poster.view_more div.link {
  width: 200px;
  height: 300px;
}
section.media_panel div.content div.poster img {
  width: 200px;
  height: 300px;
}
div.grey_column {
  min-width: 260px;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
}
section.split_column {
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  margin-top: 40px;
}
section.split_column>div {
  width: 100%;
}
div.grey_column div.column {
  width: 100%;
}
.no_bottom_pad {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
section.split_column section {
  margin-bottom: 30px;
  width: 100%;
}
div.column p {
  margin: 0 0 20px 0;
  font-size: 1em;
}
